<!--
* @author Grzegorz Nowakowski
-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head th:replace="fragments/header :: header(~{this :: title})">
    <meta charset="UTF-8">
    <title>Aion PowerBook DB</title>
</head>
<body>
<div th:replace="fragments/navibar :: navibar"></div>


<div id="main-wrapper">
  <div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <!--    content   -->
                        <div class="stat-content">



                        </div>
                        <!--    content   -->
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content"></div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
        </div>

    </div>
  </div>
</div>


<div th:replace="fragments/javascript :: js"></div>
</body>
</html>